/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Polo 22";
}

#chart-container {
  .domain {
    display: none;
  }

  line {
    display: none;
  }

  text {
    font-size: 12px;
    color: #404040;
    margin-top: 4px;
  }
}

.legend-item {
  padding: 0 5px;

  &:hover {
    cursor: pointer;
  }

  & .legend-text {
    font-size: 12px;
    line-height: 17px;
    color: #6e6e6e;
  }
}
